.intro {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  background: url(../../assets/img/logo.png) center;
  background-size: cover;
  flex-direction: column;
  align-items: center;

  .flags {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;

    img {
      width: 64px;
      height: 64px;
      cursor: pointer;

      &:hover {
        background: rgba(0, 0, 0, 0.5);
      }
    }
  }

  button {
    display: flex;
    margin-bottom: 50px;
    color: #ffffff;
    text-shadow: 0 0 4px #000;
    font-size: 35px;
  }
}
